@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Signika', sans-serif;
	width: 960px;
	margin-left: 1.5%;
}

h2{
	line-height: 0em;
}

h4{
	line-height: 1em;
	font-size: 10px;
	font-weight: 700;
}

p{
	font-size: 13px;
	line-height: 1.5em;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	padding: 0;
	list-style: none;
}

section li{
	font-size: 13px;
	font-weight: 700;
	line-height: 2em;
}

header{
	width: 960px;
	background-color: #fff;
	position: fixed;
}

nav{
	float: right;
	width: 350px;
}

nav ul{
	list-style-type: none;

}

nav ul li{
	float: left;
	margin-left: 30px;
	font-size: 14px;
	font-weight: bold;
}

section{
	padding-top: 50px;
	padding-bottom: 2%;
}

section#sidemenu{
	width: 20%;
	float: left;
	margin-right: 5%;
}

section#content{
	display: block;
	float: left;
	width: 70%;
}

article{
	padding-top: .5%;
	padding-bottom: .5%;
}

footer{
	padding-top: 2%;
	border-top: 2cm;
	border-color: #000;
}



